.AddTask{

	>h2{
		text-align: center;
		margin: 0.7em auto;
		color: blueviolet
	}
}
.ButtonCon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0px;
}
.Error{
	font-size: 1.2em;
}