.AlertMessage{
	margin: 0px;
	align-self: stretch;
	text-align: center;
	margin-bottom: 0.6em;
	padding: 0.5em;
	font-size: 0.9em;
	letter-spacing: 0.7px;
}
.Error{
	background-color: #ffd4d4;
	color: #df0000;
}
.Success{
	background-color: #acefac;
	color: #008500;
}